# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.pylintrc
.pytest_cache

# Virtual environments
venv
env
ENV

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov

# Documentation
*.md
!README.md

# Docker
Dockerfile
docker-compose*.yml
.docker

# Misc
*.log
.env
.env.example
